.jumbotron {
    background-image: url("https://cdn-ssl.s7.disneystore.com/is/image/ShopDisney/mb_franchise-star-wars_20190701_2x?$xlargeFull$&fit=constrain&cropN=0,0,1,1");
    background-size:cover;
    height: 200px;
  }

p, h1{
    color: white;
}

