<div class="container text-center centerBody">
    <div class="row">
      <div class="col-sm-4">
        <button (click)="goToPlanets()" type="button" class="btn btn-default" aria-label="Left Align">
            <i class="fab fa-old-republic fa-5x"></i>
            </button>
            <p>Planets</p>
      </div>
      <div class="col-sm-4">
        <button (click)="goToFilms()" type="button" class="btn btn-default" aria-label="Left Align">
            <i class="fab fa-galactic-senate fa-5x"></i>
            </button>
            <p>Films</p>
      </div>
      <div class="col-sm-4">
        <!-- <button type="button" class="btn btn-danger">Actors</button>
        <p>Click here to see actors information</p> -->

        <button  (click)="goToActors()" type="button" class="btn btn-default" aria-label="Left Align">
            <i class="fab fa-jedi-order fa-5x"></i>
            </button>
            <p>Actors</p>
      </div>
    </div>
  </div>