/* You can add global styles to this file, and also import other style files */


html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer{ 
    background-color: black;
    color: white; 
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
table {
  width: 100%;
}

.mat-header-cell {
  font-size: 16px;
}

.homeBtn{
  margin-left: 400px;
}




